# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

# print the value of a
print(a)

# print the type of a
type(a)

[]

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [21]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [22]:
#code here
len(anguages)

5

Using for loop iterate and print all the elements in the list

In [23]:
#code here
[element for element in languages]

['R', 'Python', 'SAS', 'Scala', 42]

Select the second item, 'Python' and store it in a new variable named 'temp'

In [24]:
#code here
temp = languages[1]

Print the value of temp and type(temp)

In [13]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [25]:
# code here
[element for element in languages[-2:]]

['Scala', 42]

Append the element 'Java' in the list

In [26]:
#code here
languages.append('Java')

In [27]:
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [34]:
#code here
del(languages[-2])   

##or
#languages.remove(42)

languages

['R', 'Python', 'SAS', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [36]:
#code here
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [37]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [40]:
# code here
colors.insert(1,'Orange')

Print the list

In [41]:
# code here
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [43]:
# code here
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [44]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [45]:
# code here
print(len(colors))
colors

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [48]:
# code here
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [54]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [56]:
# code here
sent=sent.split()

print(sent)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [57]:
# code here
words_lower = [element.lower() for element in sent]

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [58]:
# code here
'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [63]:
# code here
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [64]:
#code here
x4 = words_lower[:3]

In [65]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns']

Convert the list of elements to single string using join function and print it

In [66]:
#code here
' '.join(x4)

'coronavirus caused lockdowns'

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

In [67]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [68]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [70]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [71]:
#code here
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [72]:
#code here
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'F', 'B', 'A', 'C'}

`Set is containing unique elements only`

Add a new element ‘G’ to stud_grades_set

In [76]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [77]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'F', 'B', 'G', 'C', 'A'}

!!Did you notice? `set doesn't add an element if it's already present in it, unlike lists`.

Remove ‘F’ from stud_grades_set

In [78]:
#code here

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [79]:
#code here
print(stud_grades_set)
len(stud_grades_set)

{'B', 'G', 'C', 'A'}

4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [80]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [81]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [83]:
#code here
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [84]:
#code here
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [85]:
#code here

colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [86]:
#code here

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

In [90]:
#code here

temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [92]:
#code here

for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [93]:
#code here

temp[0] = 11

Set temp1 = tuple(temp)

In [94]:
#code here

temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [96]:
#code here
[i for i in temp1]

[11, 'Virat', 50.0]

replace first element with 17 in temp1

In [97]:
#code here
temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

In [98]:
#code here

city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [99]:
#code here
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [100]:
#code here
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [101]:
#code here

cities = city,city2

Print cities

In [102]:
#code here

print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [105]:
#code here

type(cities[0])

tuple

print the type of cities

In [106]:
#code here
type(cities)

tuple

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [107]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [108]:
#code here

d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [113]:
#code here
actor = d['actor']

Print the type of actor

In [114]:
#code here
type(actor)

str

Store the value of d[‘list’] in new variable l.

In [119]:
#code here

l = d['list']

Print the type of l.

In [120]:
#code here
type(l)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [121]:
#code here

d1 = {'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [122]:
#code here
d = {**d,**d1}

print d

In [123]:
#code here

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [125]:
#code here
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [126]:
#code here
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [131]:
#code here
for key,value in d.items():
    print(key,':',value)

actor : amir
animal : cat
earth : 2
list : [23, 32, 12]
singer : Kr$na
album : Still here
genre : hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [135]:
#code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

d1 = {}
for alphabt in sent:
    d1[alphabt] = 0
for count in sent:
    d1[count] += 1
d1

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1,
 '.': 1}